@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Outfit:wght@300;400;600&family=Roboto&family=Source+Serif+Pro:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Outfit", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Source Serif Pro", serif;
  /* border: 1px solid red; */
}
body {
  max-width: 1440px;
  min-width: 375px;
  margin: 0 auto;
  background-image: url(/images/bg-pattern-top.svg),
    url(/images/bg-pattern-bottom.svg);
  background-repeat: repeat-x, repeat-y;
  background-size: 500px, 500px;
  background-position: top left, bottom right;
  transform: rotate(50deg), rotate(45deg);
  background-color: hsl(185, 75%, 39%);
}

.main-card-component {
  height: 24em;
  width: 30%;
  margin: 4em auto;
  border-radius: 18px;
  /* border: 1px solid hsla(227, 10%, 46%, 0.313); */
  background-color: #fff;
}
.background-blue {
  background-image: url(/images/bg-pattern-card.svg) !important;
  background-size: contain;
  background-repeat: repeat;
  width: 100%;
  height: 8em;
  display: flex; /* add this */
  justify-content: center; /* add this */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center, 50%, 50%;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  margin-bottom: 60px;
}

.background-blue img {
  border-radius: 50%;
  width: fit-content;
  position: relative;
  top: 60px;
  border: 5px solid white;
  width: 115px;
  height: 115px;
}
.name-age-city {
  text-align: center;
}
.black-text {
  color: hsl(229, 23%, 23%);
  font-size: 18px;
  font-weight: 700;
}
.gray-text {
  color: hsl(227, 10%, 46%);
}
.black-text .gray-text {
  font-weight: 400;
  padding-left: 4px;
}
.name-age-city {
  line-height: 1.5;
}
.bottom-stats {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid hsla(0, 0%, 59%, 0.304);
  text-align: center;
  margin: 3em auto;
}
.name-age-city .gray-text {
  margin-bottom: 20px;
}
.slice {
  line-height: 1.5;
  margin-top: 14px;
}
